annotated-types==0.7.0
cfgv==3.4.0
click==8.1.8
distlib==0.3.9
filelock==3.17.0
identify==2.6.6
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.9.1
packaging==24.2
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==4.1.0
pydantic==2.10.6
pydantic-core==2.27.2
pygments==2.19.1
pytest==8.3.4
pyyaml==6.0.2
rich==13.9.4
ruff==0.9.3
shellingham==1.5.4
tqdm==4.67.1
typer==0.15.1
typing-extensions==4.12.2
virtualenv==20.29.1
